MC_PROFILE_NAME=${jsonencode(profile_name)}
MC_SERVER_ARCHIVE_URL=${jsonencode(archive_url)}
MC_SERVER_ARCHIVE_SHA256=${jsonencode(archive_sha256)}
MC_ARCHIVE_DIRECTORY=${jsonencode(archive_directory)}
MC_JAVA_MAJOR=${java_major}
MC_START_COMMAND=${jsonencode(start_command)}
MC_PROFILE_LAYOUT=${jsonencode(layout)}
MC_FORGE_INSTALLER_JAR=${jsonencode(forge_installer_jar)}
MC_JAVA_MIN_MEMORY=${jsonencode(java_min_memory)}
MC_JAVA_MAX_MEMORY=${jsonencode(java_max_memory)}
MC_PVP=${server_settings.pvp}
MC_DIFFICULTY=${jsonencode(server_settings.difficulty)}
MC_GAME_MODE=${jsonencode(server_settings.game_mode)}
MC_MAX_PLAYERS=${server_settings.max_players}
MC_MOTD=${jsonencode(server_settings.motd)}
MC_VIEW_DISTANCE=${server_settings.view_distance}
MC_SIMULATION_DISTANCE=${server_settings.simulation_distance}
MC_ALLOW_FLIGHT=${server_settings.allow_flight}
MC_SPAWN_PROTECTION=${server_settings.spawn_protection}
MC_PORT=${minecraft_port}
MC_SIMPLEBACKUPS_ENABLED=${simplebackups_settings.enabled}
MC_SIMPLEBACKUPS_SEND_MESSAGES=${simplebackups_settings.send_messages}
MC_SIMPLEBACKUPS_DISCORD_MESSAGES=${simplebackups_settings.discord_messages}
MC_AUTO_SHUTDOWN_ENABLED=${auto_shutdown_enabled}
MC_AUTO_SHUTDOWN_CHECKS=${auto_shutdown_checks}
MC_AUTO_SHUTDOWN_PERIOD_MIN=${auto_shutdown_period_min}
